body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  font-family: 'Segoe UI';
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.Navbar .links {
  margin-left: auto;
  color: grey;
}

.Block {
  font-family: 'Segoe UI';
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  height: 180px;
  width: 280px;
  max-width: 280px;
  position: relative;
}

.Card0 {
  font-family: 'Segoe UI';
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  height: 320px;
  position: relataive;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
  margin: 5px;
}

.Card1 {
  font-family: 'Segoe UI';
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  text-align: center;
  align-self: center;
  height: 320px;
  width: 50%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
  margin: 5px;
  display: grid;
}

.Card2 {
  font-family: 'Segoe UI';
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  height: 425px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
  margin: 5px;
}

.Card3 {
  font-family: 'Segoe UI';
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
  margin: 0px 5px;
}

/* for which?  */
.Card4 {
  font-family: 'Segoe UI';
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
}

.Alert {
  border-left: 5px solid black;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
}

.Battery {
  display: inline-flex;
  font-family: 'Segoe UI';
  color: black;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  height: 250px;
  width: 500px;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
  margin: 5px;
}

.Battery:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.SubPage {
  display: flex;
  overflow: auto;
}

.LeftColumn {
  display: 'inline-block';
  width: 30%;
  max-width: 325px;
}

.RightColumn {
  display: 'inline-block';
  float: left;
  min-width: 70%;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .LeftColumn, .RightColumn {
    width: 100%;
  }
  .BatteryPage {
    display: grid;
  }
}

.Speed {
  display: inline-flex;
  font-family: 'Segoe UI';
  color: black;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  writing-mode: horizontal-tb;
  height: 250px;
  width: 500px;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  transition: 0.3s;
  margin: 5px;
}

.Speed:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.blocks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.ControllerPosition {
  height: 200px;
  width: 100px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.Controller {
  display: flex;
}

.Map {
  border: 1px solid #000000;
}